
/**
* SCROLL CONTROLS
*/

.ui-scroll-controls {
	position: absolute!important;
}

/**
* COLORS
*/

.red {
	background-color: rgb(255,0,0);
}

.green {
	background-color: rgb(0,255,0);
}

.blue {
	background-color: rgb(0,0,255);
}

.black {
	background-color: rgb(0,0,0);
}

.grey {
	background-color: rgb(120,120,120);
}

/**
* PANELS
*/

.panels {
	display: block;
	position: relative;

	/* Comment this line out to actually see the transitions */
	overflow: hidden;

	width: 500px;
	height: 500px;
	margin: 50px auto;
	border-width: 2px;
	border-style: solid;
	border-color: #474747;
}

.panel {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}